<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-black flex justify-between p-5">
      <div>
        <a class="font-bold text-white" href="/home/1">E-COMMERCE</a>
      </div>
      <div class="flex text-white font-bold">
        <a class="px-2" href="/chat">chat</a>
        <a class="px-2" href="/api/productManager">product manager</a>
        <a class="px-2" href="/api/users">user manager</a>
        <a class="px-2" href="/cart">cart</a>
        <a class="px-2" href="/profile">profile</a>
      </div>
    </nav>
    <h1 class="text-center font-bold my-10 text-3xl">OUR PRODUCTS</h1>
    <section class="w-8/12 mx-auto grid grid-cols-3 gap-4 place-items-center">
      {{#each products}}
        <div class="border-2 border-black rounded w-64 text-center">
          <img src="../../static/{{this.prod_image}}" alt="" />
          <p class="py-3 font-bold uppercase">{{this.prod_name}}</p>
          <p class="pb-3 italic">{{this.description}}</p>
          <p class="pb-3">${{this.price}}</p>
          <p class="pb-3">{{this.stock}} in stock</p>
          <form action="/cart/{{this._id}}" method="post">
            {{#if this.outOfStock}}
              <button
                type="button"
                class="bg-red-500 text-white font-bold py-2 px-5 rounded my-2"
                id="out-of-stock"
                disabled
              >out of stock</button>
            {{else}}
              <button
                type="submit"
                class="bg-black text-white font-bold py-2 px-5 rounded my-2"
                id="add-to-cart"
              >add to cart</button>
            {{/if}}
          </form>
        </div>
      {{/each}}
    </section>
    <section class="my-5 text-center text-2xl">
      <div class="my-10">
        {{#if prevLink}}
          <a
            class="bg-black p-2 rounded uppercase font-bold text-white"
            href="{{prevLink}}"
          >previous page</a>
        {{/if}}

        {{#if nextLink}}
          <a
            class="bg-black p-2 rounded uppercase font-bold text-white"
            href="{{nextLink}}"
          >next page</a>
        {{/if}}
      </div>
    </section>
  </body>
</html>